{{#if header}}
	<h3>{{header}}</h3>
{{else}}
	<h3>Edit Family Member</h3>
{{/if}}

<input type="text" id="form--name" placeholder="name" value="{{name}}"></input>
<input type="text" id="form--gender" placeholder="gender" value="{{gender}}"></input>
<input type="text" id="form--age" placeholder="age" value="{{age}}"></input>
<input type="textbox" id="form--skills" placeholder="skills" value="{{skills}}"></input>

<button id="{{id}}" {{#if btnClass}} class="{{btnClass}}" {{else}} class="save_edit_btn" {{/if}}>
	{{#if btnText}}
		{{btnText}}
	{{else}}
		Save Edits
	{{/if}}
</button>